/* General Demo Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Satisfy);

@font-face {
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
	line-height: 1.5;
    font-size: 12px;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    background:#f8f8f8 !important;
	overflow: hidden;
}

#container{
	position: relative;
	width: 960px;
	height: 100%;
	left: 50%;
	margin-left: -480px;
	background: #ffffff;
	overflow: hidden;
}

a {
	color: #ddd;
	text-decoration: none;
}

a:hover {
	color: #fff;
}

p{
	font-size: 12px;
	margin: 0 0 20px 0;
	line-height: 16px;
	color:#58595b;
	margin:0 0 10px 0;
}

h2{
	display: block;
	font-size: 1.5em;
	-webkit-margin-before: 0.83em;
	-webkit-margin-after: 0.83em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
	margin: 1.0em 0 0.5em;
	font-weight: normal;
	color: #5A5A5A;
	word-spacing: -2px;
}

/* Header Style */
.codrops-top {
	background: #fff;
	background: rgba(255, 255, 255, 0.1);
	text-transform: uppercase;
	position: fixed;
	width: 100%;
	font-size: 0.68em;
	line-height: 2.2;
	z-index: 50000;
	top: 0;
	left: 0;
}

.codrops-top a {
	padding: 0 1em;
	letter-spacing: 0.1em;
	color: #fff;
	display: inline-block;
}

.codrops-top a:hover {
	background: rgba(255,255,255,0.2);
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	float: left;
	display: block;
}

.codrops-icon:before {
	font-family: 'codropsicons';
	margin: 0 4px;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.codrops-icon-drop:before {
	content: "\e001";
}
.codrops-icon-prev:before {
	content: "\e004";
}
.codrops-icon-archive:before {
	content: "\e002";
}
.codrops-icon-next:before {
	content: "\e000";
}
.codrops-icon-about:before {
	content: "\e003";
}

@media screen and (max-width: 25em) { 
	.codrops-icon span {
		display: none;
	}
}
.label{
	font-size: 24px;
	font-weight: 700;
	height: 110px;
	padding: 30px;
}
.likert{
	float: left;
	width: 20%;
	height: 30px;
	background: #f8f8f8;
}
.chosen{
	background: red !important;
}
.highlight{
	background: #ff6666;
}
.highlightsub{
	background: #dd0000 !important;
}
.hide{
	display: none !important;
}

#steps{
	position: relative;
	margin-top: 20px;
	width: 100%;
}
.step{
	width: 241px;
	padding: 25px 36px 0px 50px;
	float: left;
	height: 203px;
	color:#58595b;
}
.step h2{
	margin-top:5px;
	color: #5A5A5A;
	font-size: 22px;
	line-height: 24px;
}
#step-1, #step-3{
	background:#e8e8e9;
}
#step-4{
	background: #e8a512;
	width: 235px !important;
}
#step-2{
	background:#f8f8f8;
}

#step-4 h2{
	color: #FFF !important;
}
#step-4 p{
	color: #ffffff !important;
}

#step-1 h2::before{
	content: "1.";
	margin-left: -22px;
}
#step-2 h2::before{
	content: "2.";
	margin-left: -22px;
}
#step-3 h2::before{
	content: "3.";
	margin-left: -22px;
}
#step-4 h2::before{
	content: "4.";
	margin-left: -22px;
}

