body{
	line-height: 1.5;
    font-size: 12px;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: #5A5A5A;
    background:#f8f8f8 !important;
}
body > div{
	transition:all 0.3s ease;
}


#count{
	position: relative;
	width: 100px;
	height: 30px;
	line-height: 30px;
	left: 50%;
	margin-left: -50px;
	margin-bottom: 5px;
	text-align: center;
	border:1px solid;
}


#questionsDiv{
	position: relative;
	width: 960px;
	height: 370px;
	left: 50%;
	margin-left: -480px;
	text-align: center;
	font-size: 11px;
	perspective: 960px;
	transform-style: preserve-3d;
}
.table td{
	font-size: 11px;
	text-align: center;
	width: 100px;
}
.table{
	position: relative;
	width: 700px;
	left: 50%;
	margin-left: -350px;
	text-align: center;
}
.question{
	text-align: center;
	height: 30px;
}
#next{
	float:right;
	width: 70px;
	margin-top: 5px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	border:1px solid;
}
#back{
	float:left;
	width: 70px;
	margin-top: 5px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	border:1px solid;
}


#text{
	clear:both;
	width: 100%;
	height: 200px;
	text-align: center;
	border:1px solid;
}
#textarea{
	width: 520px;
	height: 100px;
}


#result{
	position: relative;
	width: 200px;
	left: 50%;
	margin-left: -100px;
	margin-top: 5px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border:1px solid;
}


#resultDiv{
	position: relative;
	width: 1000px;
	height: 350px;
	left: 50%;
	margin-left: -500px;
	text-align: center;
	border:1px solid;
}


#login{
	position: relative;
	width: 200px;
	left: 50%;
	margin-left: -100px;
	margin-top: 5px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border:1px solid;
}

.label{
	width: 100%;
	height: 50px;
}

.div{
	backface-visibility: hidden;
	transform: translate3d(0, 0, 0);
}
#q1,#q3,#q5,#q7,#q9,#q11{
	background: #e8e8e9;
}
#q2,#q4,#q6,#q8,#q10,#q12{
	background: #f8f8f8;
}


.answer{
	background: 
}
.hide{
	display: none;
}